.card {
  position: relative;
}

.card > div > img {
  width: 100%;
  
  display: block;
  border: 3px solid rgb(98, 98, 233);
  border-radius: 6px;
}

.card .card_back {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}

.flipped .card_back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}

.card .card_front {
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
}

.flipped .card_front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;

}