.App {
  padding: 2rem 0;
  border: 2px solid #fff;
  text-align: center;
  width: 960px;
  max-width: 95%;
  margin: 5rem auto;
}

button {
  background-color: transparent;
  padding: 1rem 2rem;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  font-size: 1.25rem;
}

button:hover {
  cursor: pointer;
  background-color: rgb(98, 98, 233);
}